<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Reconhecimento Facial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Sistema de Reconhecimento Facial</h1>

        <a href="/cadastro">
            <button>Cadastrar Usuário</button>
        </a>

        <a href="/reconhecimento">
            <button>Iniciar Reconhecimento</button>
        </a>
    </div>

</body>
</html>